NODE_ENV=development
PORT=agrega el puerto que deseas usar aqui, por ejemplo 5000
MONGO_URI=agrega tu mongo uri aqui
JWT_SECRET=agrega tu jwt secret aqui
JWT_EXPIRES_IN=configura el tiempo de expiracion del token aqui
CORS_ORIGIN=agrega la url de tu frontend aqui, por ejemplo http://localhost:5173